<script>
    /**
     * Скрипт скроллинга: кнопка наверх
     * css class кнопки: scrollTop
     */

    window.top = {};
    var sc = window.top;

    sc.time = 12; // время прокручивания

    sc.goTop = function (time, acceleration) {
        acceleration = acceleration || 0.1;
        time = time || sc.time;

        var dx = 0;
        var dy = 0;
        var bx = 0;
        var by = 0;
        var wx = 0;
        var wy = 0;

        if (document.documentElement) {
            dx = document.documentElement.scrollLeft || 0;
            dy = document.documentElement.scrollTop || 0;
        }
        if (document.body) {
            bx = document.body.scrollLeft || 0;
            by = document.body.scrollTop || 0;
        }
        var wx = window.scrollX || 0;
        var wy = window.scrollY || 0;

        var x = Math.max(wx, Math.max(bx, dx));
        var y = Math.max(wy, Math.max(by, dy));

        var speed = 1 + acceleration;
        window.scrollTo(Math.floor(x / speed), Math.floor(y / speed));
        if(x > 0 || y > 0) {
            var invokeFunction = "window.top.goTop("+ time +")"
            window.setTimeout(invokeFunction, time);
        }
        return false;
    }

    sc.showHide = function (){
        var a = document.getElementById('gotop');

        if( ! a ){
            // если нет элемента добавляем его
            var a = document.createElement('a');
            a.id = "gotop";
            a.className = "btn btn-sm btn-outline-light scrollTop";
            a.href = "#";
            a.text = "Наверх"
            a.style.display = "none";
            a.style.position = "fixed";
            a.style.zIndex = "9999";
            a.onclick = function(e){ e.preventDefault(); window.top.goTop(); }
            b = document.getElementById('upbutton');
            document.body.appendChild(a);
        }

        var stop = (document.body.scrollTop || document.documentElement.scrollTop);
        if( stop > 300 ){
            a.style.display = 'block';
            sc.smoothopaque(a, 'show', 30, false);
        } else {
            sc.smoothopaque(a, 'hide', 30, function(){a.style.display = 'none';});
        }

        return false;
    }

    // Плавная смена прозрачности
    sc.smoothopaque = function (el, todo, speed, endFunc){
        var
            startop = Math.round( el.style.opacity * 100 ),
            op = startop,
            endop = (todo == 'show') ? 100 : 0;

        clearTimeout( window['top'].timeout );

        window['top'].timeout = setTimeout(slowopacity, 30);

        function slowopacity(){
            if( startop < endop ){
                op += 5;
                if( op < endop )
                    window['top'].timeout = setTimeout(slowopacity, speed);
                else
                    (endFunc) && endFunc();
            }
            else {
                op -= 5;
                if( op > endop ){
                    window['top'].timeout = setTimeout(slowopacity, speed);
                }
                else
                    (endFunc) && endFunc();
            }


            // установка opacity
            el.style.opacity = (op/100);
            el.style.filter = 'alpha(opacity=' + op + ')';
        }
    }

    if (window.addEventListener){
        window.addEventListener("scroll", sc.showHide, false);
        window.addEventListener("load", sc.showHide, false);
    }
    else if (window.attachEvent){
        window.attachEvent("onscroll", sc.showHide);
        window.attachEvent("onload", sc.showHide);
    }
</script>
<% if current_user %>
  <main class="container mr-5 ml-5 mt-4">
  <div class="container ml-2">
    <div class="row">
      <div class="col-md-auto">

        <div class="card mb-4 shadow-sm text-center justify-content-start md-auto bg-dark">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Пользователь</h4>
          </div>
          <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li><h5>Вы вошли как:</h5></li>
                <li><h5><%= current_user.email %></h5></li>
                <li><h5><p style="color:red"><%= notice %></p></h5></li>
              </ul>
              <%= form_tag logout_path, method: :get do %>
                <%= button_tag(type: 'submit', class: "btn btn-sm btn-outline-light") do %>
                  Выйти
                <% end %>
              <% end %>
          </div>
        </div>

        <div class="card mb-4 shadow-sm text-center justify-content-start bg-dark md-auto">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Следующее</br>выступление</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><h5>Дата: </h5><p id="date_of_concert"><%= $date_of_concert %></p></li>
              <li><h5>Место: </h5><%= $place_of_concert %></li>

            </ul>
            <%= form_tag "/guests/order_form", method: :get do %>
              <%= button_tag(type: 'submit', class: "btn btn-sm btn-outline-light") do %>
                Записаться
              <% end %>
            <% end %>
          </div>
        </div>
        <%if current_user.is_admin %>
          <div class="card mb-4 shadow-sm text-center justify-content-start md-auto bg-dark" >
            <div class="card-header">
              <h4 class="my-0 fw-normal">Изменить данные</h4>
            </div>
            <div class="card-body">
              <%= form_tag "/home/change", method: :get do %>
                <div class='field'>
                  <%= label_tag :date, "Дата" %>
                  <%= text_field_tag :date_of_conc %>
                </div>
                <div class='field'>
                  <%= label_tag :place, "Место" %>
                  <%= text_field_tag :place_of_conc %>
                </div>
                <div class='actions'>
                  <%= button_tag(type: 'submit', class: "btn btn-sm btn-outline-light") do %>
                    Изменить
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

          <%@guests = Guest.all %>

          <table class="table table-light text-center">
            <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="4">Список бронирований</th>
            </tr>
            </thead>
            <thead class="thead-dark">
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Имя</th>
              <th scope="col">Фамилия</th>
              <th scope="col">Дата выступления</th>
            </tr>
            </thead>
            <tbody>
            <% @guests.each do |guest| %>
              <tr>
                <td><%= guest.email %></td>
                <td><%= guest.name %></td>
                <td><%= guest.surname %></td>
                <td><%= guest.date_of_concert %></td>
              </tr>
            <% end %>
            </tbody>
          </table>

        <%end%>

      </div>
      <div class="col align-self-center">
        <img src="/assets/banner.png" class="img-fluid">
      </div>

      </div>

  </div>

  </main>

<% else %>
  <main class="container mr-5 ml-5">
  <div class="container ml-2">
    <div class="row">
      <div class="col-md-auto">

        <div class="card mb-4 shadow-sm text-center justify-content-start md-auto bg-dark">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Вход</h4>
            <br/>
          </div>
          <div class="card-body">
            <%= form_tag sessions_path do |form| %>
              <div class='field'>
                <%= label_tag :email %>
                <%= text_field_tag :email %>
              </div>
              <div class='field'>
                <%= label_tag :password %>
                <%= password_field_tag :password %>
              </div>
              <div class='field'>
                <p id=”notice”><%= notice %></p>
              </div>

              <div class='actions'>
                <%= button_tag(type: 'submit', class: "btn btn-sm btn-outline-light") do %>
                  Войти
                <% end %>
              </div>
            <% end %>
            <%= form_tag signup_path, method: :get do %>
              <%= button_tag(type: 'submit', class: "btn btn-sm btn-outline-light") do %>
                Зарегестрироваться
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="card mb-4 shadow-sm text-center bg-dark justify-content-start md-auto">
          <div class="card-header">
            <h4 class="my-0 fw-normal">Следующее</br>выступление</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li><h5>Дата: </h5><p id="date_of_concert"><%= $date_of_concert %></p></li>
              <li><h5>Место: </h5><%= $place_of_concert %></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="col align-self-center">
        <img src="/assets/banner.png" class="img-fluid">
      </div>

    </div>

  </div>
  </main>

<% end %>
<footer class="footer rgb row mt-5">
  <div class="container mt-1">
    <div class="row ">
      <div class="col-md-12 mt-1 mb-4 text-center">
        <h1>Ждем вас!</h1>
        <h4>Для связи:</h4>
        <h4>harris.thom@yandex.ru</h4>
        <p id="upbutton"></p>
        <p class="social-icons-header">
          <a href="facebook.com"><i class="fa fa-facebook "></i></a>
          <a href="twitter.com"><i class="fa fa-twitter"></i></a>
          <a href="instagram.com"><i class="fa fa-instagram"></i></a>
          <a href="facebook.com"><i class="fa fa-linkedin"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>




